<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
	<title>Ingredients List</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="container">
			<div th:fragment="header"></div>
		</div>
		<div>
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<ul class="nav navbar-nav">
								<li><a href="#" th:href="@{/ingredientform}">Create	Ingredient</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(ingredientUsers)}">
			<h2>Ingredients List</h2>
			<table class="table table-striped">
				<tr>
					<th>Type</th>
					<th>Ingredient Name</th>
					<th>Quantity</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each="ingredientUser : ${ingredientUsers}">
					<td th:text="${ingredientUser.ingredientUserPk.ingredient.type}">Type</td>
					<td th:text="${ingredientUser.ingredientUserPk.ingredient.name}">Name</td>
					<td th:text="${ingredientUser.quantity}">Quantity</td>
					<td><a th:href="@{/ingredientuserupdate/{userid}/{ingredientid}(userid=${ingredientUser.ingredientUserPk.user.id},ingredientid=${ingredientUser.ingredientUserPk.ingredient.id})}">Edit</a></td>
					<td><a th:href="@{/ingredientuserdelete/{userid}/{ingredientid}(userid=${ingredientUser.ingredientUserPk.user.id},ingredientid=${ingredientUser.ingredientUserPk.ingredient.id})}">Delete</a></td>
				</tr>
			</table>

		</div>
	</div>
</body>
</html>