<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Tools List</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="container">
			<div th:fragment="header">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<ul class="nav navbar-nav">
								<li><a href="#" th:href="@{/toolform}">Create Tool</a></li>
							</ul>

						</div>
					</div>
				</nav>

			</div>
		</div>
		<div th:if="${not #lists.isEmpty(tools)}">
			<h2>Tools List</h2>
			<table class="table table-striped">
				<tr>
					<th>Tool Name</th>
					<th>Capacity</th>
					<th></th>
					<th></th> 
				</tr>
				<tr th:each="tool : ${tools}">
					<td th:text="${tool.name}">Id</td>
					<td th:text="${tool.capacity}">Capacity</td>
					<td><a th:href="${'/tool/edit/' + tool.id}">Edit</a></td>
					<td><form th:action="@{/tool/delete/{id}(id=${tool.id})}"
							th:method="delete">
							<input type="submit" value="Delete" />
						</form></td>
				</tr>
			</table>

		</div>
	</div>

</body>
</html>